{"filter":false,"title":"phpunit.xml","tooltip":"/phpunit.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1484104329287,"hash":"2b810a801d2498184fde5705e49fd3230a7ec9c4"}